/*===== General styles import =====*/
@import "./colors";
@import "./fonts";

/*===== Cool Animated Card =====*/
.coolcard {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border-radius: 15px;
    color: $light;
    height: 400px;
    width: 300px;

    transition: box-shadow 0.8s ease-in-out;
    &:hover {
        box-shadow: rgba(22,45,91, 0.1) 0px 1px 2px, rgba(22,45,91, 0.1) 0px 2px 4px, rgba(22,45,91, 0.1) 0px 4px 8px, rgba(22,45,91, 0.1) 0px 8px 16px, rgba(22,45,91, 0.1) 0px 16px 32px, rgba(22,45,91, 0.1) 0px 32px 64px;
    }
    &::before {
        position: absolute;
        content: "";
        border-radius: inherit;
        background: linear-gradient(235deg, #e100ff 0%, #162d5b73 50%, #00bcd4 90%);
        top: -44px;
        bottom: -44px;
        left: -94px;
        right: -94px;
        transition: transform 1.5s ease-in-out
    }
}
.coolcard:hover::before {
    transform: rotate(360deg);
}
.coolcard-img {
    object-fit: cover;
    object-position: left;
    position: relative;
    height: 100%;
    
    opacity: 0;
    transition: opacity 1.5s ease-in;
}
.coolcard:hover .coolcard-img {
    opacity: 1;
}
.coolcard-body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 1rem 1rem 1rem;
    background: linear-gradient(#0000 0%, #0006 70%, #000000e3 100%);

    transform: translateY(114px);
    transition: transform 1s ease;
}
.coolcard:hover .coolcard-body {
    transform: translateY(0px);
}
.coolcard-title {
    z-index: 1;
    position: relative;
    margin-block: 0.5rem;
    width: fit-content;
    font-weight: 700;
    font-size: 1.8em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;   

    &::before {
        content: '';
        position: absolute;
        bottom: 6px;
        background: white;
        height: 3px;
        width: 0%;

        transition: width 1s ease 0.5s;
    }
}
.coolcard:hover .coolcard-title::before {
    width: 102%;
}

.coolcard-text {
    position: relative;
    color: #ddddddde;
    text-align: start;
}

/*===== Coolcard nº1 =====*/
/*===== Coolcard nº2 =====*/
div.coolcard2 {
    margin-inline: 3rem;
}
.coolcard2 .coolcard-img {
    position: absolute;
    left: 0;
    height: 100%;
    
    opacity: 0.5;
}
.coolcard2 .coolcard-body {
    position: absolute;
    bottom: 0;
    background: linear-gradient(#0000 0%, #000000d9 40%, #000000e3 100%);
}
/*===== Coolcard nº3 =====*/
