/*===== General styles import =====*/
@import "./colors";
@import "./fonts";

/*===== Views styles import =====*/
@import "./home";

/*===== Variables =====*/
$nav-height: 63px;
$footer-height: 57.6px;


*,*::after,*::before,p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}
body {
    line-height: 1.6;
}
.view {
    height: fit-content;
    width: 100%;
}
a {
    text-decoration: none;
    color: $info;
    &:hover {
        color: $info-hover
    }
}
.rows {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    margin: auto;
}
.cols {
    flex: 0 0 auto;
    width: auto;
}
/*===== Error view =====*/
.error404 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: $danger
}

/*===== Navbar =====*/
nav {
    background: #33a9dc1c;
    height: $nav-height;
}

/*===== Navbar =====*/
.footer {
    color: $light;
    background: $dark;
    height: $footer-height;
    padding-block: 1rem;
    text-align: center;
}
.navbar-brand {
    margin: 0
}