/*===== General styles import =====*/
@import "./colors";
@import "./fonts";

/*===== Views styles import =====*/
@import "./home";
@import "./example";
@import "./coolcard";

/*===== Variables =====*/
$nav-height: 63px;
$footer-height: 57.6px;

@mixin displayCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


*,*::after,*::before,p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}
body {
    line-height: 1.6;
}
.view {
    min-height: calc(100% - #{$nav-height} - #{$footer-height});
    width: 100%;
    position: relative;
}
a {
    text-decoration: none;
    color: $info;
    &:hover {
        color: $info-hover
    }
}
.rows {
    @include displayCenter();
    flex-wrap: wrap;
    height: fit-content;
}
.cols {
    flex: 0 0 auto;
    width: auto;
    overflow: hidden;
}
/*===== Error view =====*/
.error404 {
    @include displayCenter();
    flex-direction: column;
    align-items: center;
    color: $danger
}

/*===== Navbar =====*/
nav {
    background: #33a9dc1c;
    height: $nav-height;
}

/*===== Navbar =====*/
.footer {
    color: $light;
    background: $dark;
    height: $footer-height;
    padding-block: 1rem;
    text-align: center;
}
.navbar-brand {
    margin: 0
}